<h1> All Contacts </h1>

<ul>

<% Contact.all.each do |contact| %>
<li class = "names">
  <a href="/contacts/<%=contact.id%>"> <%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</a>
  <p class = "edde">
    <a href ="#"> Edit</a> | <a href ="#">Delete</a>
  </p>
</li>

<% end %>

</ul>
